.buttonArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-self: center;
}

.button {
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 1rem;
}
.button.kakao {
  background-color: #fee500;
}
.button.naver {
  background-color: #03c75a;
}
