@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-thin.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-light.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src:
    url('../assets/fonts/Pretendard-Black.woff2') format('woff2'),
    url('../assets/fonts/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
